@page "/contact"

<h1>Contact Me</h1>

<p class="lead">Feel free to reach out for opportunities, collaborations, or questions!</p>

<div class="mb-3">
    <strong>Email:</strong>
    <a href="mailto:madhurijk21@gmail.com">madhurijk21@gmail.com</a>
</div>

<div class="mb-3">
    <strong>LinkedIn:</strong>
    <a href="https://www.linkedin.com/in/madhuribandari" target="_blank">
        https://www.linkedin.com/in/yourlinkedin
    </a>
</div>

<div class="mb-3">
    <strong>GitHub:</strong>
    <a href="https://github.com/Madhurijk21" target="_blank">
        https://github.com/Madhurijk21
    </a>
</div>

<div class="mb-3">
    <strong>Location:</strong>
    Dayton, Ohio, USA
</div>
