@page "/resume"

<h1>My Resume</h1>

<p class="lead">You can view or download my resume below:</p>

<a href="files/Madhuri_Bandari_Resume.pdf" target="_blank" class="btn btn-primary">
    📄 View / Download Resume
</a>
