@page "/skills"

<h1 class="mb-4">Skills</h1>

<div class="row">

    <div class="col-md-6 mb-4">
        <h4>Programming Languages</h4>
        <ul>
            <li>C, C++, C#</li>
            <li>Java</li>
            <li>Python</li>
            <li>SQL</li>
        </ul>
    </div>

    <div class="col-md-6 mb-4">
        <h4>Web & Backend</h4>
        <ul>
            <li>ASP.NET Core</li>
            <li>Entity Framework Core</li>
            <li>Blazor</li>
            <li>HTML, CSS, Razor Pages</li>
        </ul>
    </div>

    <div class="col-md-6 mb-4">
        <h4>Tools & Technologies</h4>
        <ul>
            <li>Git, GitHub</li>
            <li>Postman</li>
            <li>Visual Studio, VS Code</li>
            <li>Azure (Basics)</li>
        </ul>
    </div>

    <div class="col-md-6 mb-4">
        <h4>Machine Learning & Data</h4>
        <ul>
            <li>Data Analysis with Pandas, NumPy</li>
            <li>Logistic Regression, Linear Regression</li>
            <li>Forward Selection, Lasso (L1), Ridge (L2), Feature Scaling</li>
            <li>Cost Function, Model Evaluation</li>
        </ul>
    </div>

</div>
